<!DOCTYPE html>
<html>
  <head>
    <title>Goneup</title>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.indigo-pink.min.css">
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  </head>
  <body>
    <h1>Goneup</h1>
    <form action="/post" method="post">
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label textfield-demo">
        <input class="mdl-textfield__input" type="text"/>
        <label class="mdl-textfield__label" for="sample3">Today One Up ...</label>
      </div>
      <br>
      <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent mdl-js-ripple-effect">
      Button
      </button>
    </form>
  </body>
</html>