<!DOCTYPE html>
<html>
  <head>
    <title>Goneup</title>
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.indigo-pink.min.css">
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.0/material.min.js"></script>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
  </head>
  <body>
    <h1>Goneup</h1>
    <div>{{.Result}}</div>
    <div>
      <div>{{.Title}}</div>
      <div>{{.Date}}</div>
    </div>
    <div><a href="/index">Back</a></div>
  </body>
</html>